{% extends 'partials/dashboard/dashboard_base.html' %}

{% load static %}
{% block page-header %}
Backtest
{% endblock %}
{% block main-path %}
Backtest
{% endblock %}
{% block sub-path %}
Dashboard
{% endblock %}
{% block contents %}

<div id="backtest-content">
  <div class="row">
      <div class="col-xl-4">
          <div class="card">

              <div class="card-body">

                  <p class="text-muted mb-4">Backtest Settings</p>
                  <div class="text-center">
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="font-size-24 text-primary mb-2">
                                  <i class="bx bx-wallet"></i>
                              </div>

                              <p class="text-muted mb-2">Initial Capital</p>
                              <h5 id="initial-backtest-value" data-initial-capital="100000">$ 100000.00</h5>

                              <div class="mt-3">
                                  <input type="text" id="initial-portfolio-value">
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="font-size-24 text-primary mb-2">
                                  <i class="bx bx-stats"></i>
                              </div>

                              <p class="text-muted mb-2">Strategy</p>
                              <h5 id="backtest-strategy-selected" data-strategy='{{backtest_selected_strategy.name}}'>{{backtest_selected_strategy.name}}</h5>

                              <div class="mt-3">
                                  <button class="btn btn-primary btn-sm w-md" data-bs-toggle="modal" data-bs-target=".strategySelectModal">Modify</button>
                              </div>
                          </div>

                      </div>
                  </div>

              </div>
              <div class="card-body border-top">

                  <div class="text-center">
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="mt-4 mt-sm-0">
                                  <div class="font-size-24 text-primary mb-2">
                                      <i class="bx bx-play"></i>
                                  </div>

                                  <p class="text-muted mb-2">Data start</p>
                                  <input class="form-control" type="date" value="2016-01-01" id="backtest-data-start-date">
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="mt-4 mt-sm-0">
                                  <div class="font-size-24 text-primary mb-2">
                                      <i class="bx bx-stop"></i>
                                  </div>

                                  <p class="text-muted mb-2">Data end</p>
                                  <input class="form-control" type="date" value="2018-01-31" id="backtest-data-end-date">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card-body border-top">
                <button type="button" class="btn btn-primary" id="perform-backtest">Perform Backtest</button>
              </div>
          </div>
      </div>

      <div class="col-xl-8" id="strategy-parameter-body">

        {% block parameter-selection %}
            {% include 'apps/dashboard/components/backtest/backtest_parameters.html' %}
        {% endblock %}

      </div>
      <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-3">Overview</h4>
                <div class="apex-charts" id="backtest-daily-price-chart" dir="ltr"></div>
            </div>
      </div>
  </div>
  <!-- end row -->
</div>


{% endblock %}
{% block extra_javascript %}
<script src="{% static 'js/services/init_backtest.js' %}"></script>
<script>
    backtestPriceChart.render();
</script>

<script src="{% static 'js/api/backtest.js' %}"></script>
{% endblock %}
