{% extends 'partials/dashboard/dashboard_base.html' %}

{% load static %}
{% block page-header %}
Backtest History
{% endblock %}
{% block main-path %}
Backtest History
{% endblock %}
{% block sub-path %}
Backtest
{% endblock %}
{% block contents %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-3">Orders</h4>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#all-backtests" role="tab">
                            All Backtests
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#processing" role="tab">
                            Processing
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content p-3">
                    <div class="tab-pane active" id="all-backtests" role="tabpanel">
                        <form>
                            <div class="row">

                                <div class="col-xl col-sm-6">
                                    <div class="form-group mt-3 mb-0">
                                        <label>Date :</label>
                                        <input type="text" class="form-control" id="orderid-input" placeholder="Select date" data-date-format="dd M, yyyy" data-date-orientation="bottom auto" data-provide="datepicker" data-date-autoclose="true">
                                    </div>
                                </div>

                                <div class="col-xl col-sm-6">
                                    <div class="form-group mt-3 mb-0">
                                        <label>Equities</label>
                                        <select class="form-control select2-search-disable">
                                            <option value="BTC" selected>Bitcoin</option>
                                            <option value="ETH">Ethereum</option>
                                            <option value="LTC">litecoin</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xl col-sm-6">
                                    <div class="form-group mt-3 mb-0">
                                        <label>Type</label>
                                        <select class="form-control select2-search-disable">
                                            <option value="BU" selected>Buy</option>
                                            <option value="SE">Sell</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xl col-sm-6">
                                    <div class="form-group mt-3 mb-0">
                                        <label>Status</label>
                                        <select class="form-control select2-search-disable">
                                            <option value="CO" selected>Completed</option>
                                            <option value="PE">Pending</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xl col-sm-6 align-self-end">
                                    <div class="mt-3">
                                        <button type="button" class="btn btn-primary w-md">Filter</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="table-responsive mt-5">
                            <table class="table table-hover datatable dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Strategy</th>
                                        <th scope="col">Equities</th>
                                        <th scope="col">Total Return</th>
                                        <th scope="col">Sharpe Ratio</th>
                                        <th scope="col">Max Drawdown</th>
                                        <th scope="col">Drawdown Duration</th>
                                        <th scope="col">Backtest duration</th>
                                    </tr>

                                </thead>

                                <tbody>
                                   {% for backtest_result in backtest_results %}
                                    <tr>
                                        <td>{{backtest_result.created_date}}</td>
                                        <td>{{backtest_result.backtest.strategy.name}}</td>
                                        <td>{{backtest_result.backtest.symbol_list}}</td>
                                        <td>{{backtest_result.total_return}}</td>
                                        <td>{{backtest_result.sharpe_ratio}}</td>
                                        <td>{{backtest_result.max_drawdown}}</td>
                                        <td>{{backtest_result.drawdown_duration}}</td>
                                        <td>
                                            <span class="badge bg-success font-size-10">{{backtest_result.display_duration}} ms</span>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="processing" role="tabpanel">
                        <div>
                            <div class="table-responsive mt-4">
                                <table class="table table-hover datatable dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Type</th>
                                            <th scope="col">Coin</th>
                                            <th scope="col">Value</th>
                                            <th scope="col">Value in USD</th>
                                            <th scope="col">Status</th>
                                        </tr>

                                    </thead>

                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- end row -->

{% endblock %}
{% block extra_javascript %}

<script>
    var backtestPriceChart = new ApexCharts(document.querySelector("#backtest-daily-price-chart"), candleChartOptions);
    backtestPriceChart.render();
</script>
<script src="{% static 'js/services/init_backtest.js' %}"></script>
<script src="{% static 'js/api/backtest.js' %}"></script>
{% endblock %}
