

{% load static %}

{% block stock-selection %}

    <div class="row">
        <div class="col-sm-4">
            <div class="card mini-stats-wid">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-shrink-0 me-3 align-self-center">
                            <i class="mdi mdi-bitcoin h2 text-warning mb-0"></i>
                        </div>
                        <div class="flex-grow-1" id="stock-label-0" data-ticker="{{backtest_selected_stock_0}}">
                            <p class="text-muted mb-2">{{backtest_selected_stock_0}}<a data-bs-toggle="modal" data-bs-target=".backtestStockPickerModal">(modify)</a></p>
                            <h5 class="mb-0">price <span class="font-size-14 text-muted">= ${{backtest_selected_stock_0.adj_close_price}}</span></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="col-sm-4">
            <div class="card mini-stats-wid">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-shrink-0 me-3 align-self-center">
                            <i class="mdi mdi-ethereum h2 text-primary mb-0"></i>
                        </div>
                        <div class="flex-grow-1">
                          <p class="text-muted mb-2">Stock #1</p>
                          <h5 class="mb-0">price <span class="font-size-14 text-muted">= $ 148.00</span></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mini-stats-wid">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-shrink-0 me-3 align-self-center">
                            <i class="mdi mdi-litecoin h2 text-info mb-0"></i>
                        </div>
                        <div class="flex-grow-1">
                          <p class="text-muted mb-2">Stock #1</p>
                          <h5 class="mb-0">price <span class="font-size-14 text-muted">= $ 148.00</span></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
    <!-- end row -->

    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-3">Overview</h4>
            <div id="backtest-daily-price-chart">
                {% block backtest-daily-price-chart %}
                {% include '../../components/charts/backtest_daily_price.html' %}
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}

{% block backtest_daily_price_javascript %}

{% endblock%}
