{% block strategy_select_modal %}
<!-- Modal -->
<div class="modal fade strategySelectModal" tabindex="-100" role="dialog" aria-labelledby="strategySelectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="strategySelectModalLabel">Strategies</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">

                {% block strategy_select_cards %}
                {% include 'partials/dashboard/components/cards/strategy_select_cards/cards.html' %}
                {% endblock %}

              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- end modal -->
{% endblock %}
