{% block notification_dropdown %}
<div class="dropdown d-inline-block" id="notifications">
    <button type="button" class="btn header-item noti-icon waves-effect" id="notifications-dropdown"
    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="bx bx-bell bx-tada"></i>
        {% if user.notification_count != 0 %}
        <span id="notification-count" class="badge bg-danger rounded-pill">{{ user.notification_count }}</span>
        {% endif %}
    </button>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
        aria-labelledby="notifications-dropdown">
        <div class="p-3">
            <div class="row align-items-center">
                <div class="col">
                    <h6 class="m-0" key="t-notifications"> Notifications </h6>
                </div>
                <div class="col-auto">
                    <a href="#!" class="small" key="t-view-all"> View All</a>
                </div>
            </div>
        </div>
        <div data-simplebar style="max-height: 230px;">
          {% for account in user.friend_requests_received.all %}
          <div href="javascript: void(0);" class="text-reset notification-item">
              <div class="d-flex">
                  <div class="avatar-xs me-3">
                      <span class="avatar-title bg-success rounded-circle font-size-16">
                          <i class="bx bx-badge-check"></i>
                      </span>
                  </div>
                  <div class="flex-grow-1">
                      <h6 class="mb-1" key="t-shipped">Friend request from {{account.username}}</h6>
                      <div class="font-size-12 text-muted">
                          <a href="javascript: void(0);" data-account-id="{{account.id}}" title="Received" class="received-friend badge badge-soft-primary font-size-11 mb-1">accept request</a>
                          <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span key="t-min-ago">3 min ago</span></p>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
          {% for account in user.lobby_invitations_received.all %}
          <div href="javascript: void(0);" class="text-reset notification-item">
              <div class="d-flex">
                  <div class="avatar-xs me-3">
                      <span class="avatar-title bg-success rounded-circle font-size-16">
                          <i class="bx bx-badge-check"></i>
                      </span>
                  </div>
                  <div class="flex-grow-1">
                      <h6 class="mb-1" key="t-shipped">Lobby invitation from {{account.username}}</h6>
                      <div class="font-size-12 text-muted">
                          <a href="javascript: void(0);" data-account-id="{{account.id}}" class="received-lobby badge badge-soft-primary font-size-11 m-1">accept invitation</a>
                          <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span key="t-min-ago">3 min ago</span></p>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
        </div>
        <div class="p-2 border-top d-grid">
            <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
                <i class="mdi mdi-arrow-right-circle me-1"></i> <span key="t-view-more">View More..</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_javascript %}
<script></script>
{% endblock %}
