{% extends 'partials/dashboard/dashboard_base.html' %}
{% load static %}
{% block page-header %}
Dashboard
{% endblock %}
{% block main-path %}
Dashboard
{% endblock %}
{% block sub-path %}
Main
{% endblock %}
{% block contents %}

<div class="mt-4">
    <div id="daily-price-chart" class="apex-charts" dir="ltr"></div>
</div>

{% endblock %}

{% block extra_javascript %}
    <script>
      var dailyPriceData = "{{display_daily_price|safe}}"
    </script>
    <script src="{% static 'libs/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'js/dashboard/candle_stick.js' %}">
{% endblock %}
