appdirs==1.4.4
asgiref==3.6.0
attrs==22.2.0
Automat==22.10.0
backports.zoneinfo;python_version<"3.9"
beautifulsoup4==4.11.1
certifi==2022.12.7
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==2.1.1
constantly==15.1.0
contourpy==1.0.6
cryptography==38.0.4
cssselect==1.2.0
cycler==0.11.0
distlib==0.3.5
Django==4.1.4
django-braces==1.15.0
django-crispy-forms==1.14.0
djangorestframework==3.13.1
django-environ==0.9.0
filelock==3.7.1
fonttools==4.38.0
frozendict==2.3.4
html5lib==1.1
hyperlink==21.0.0
identify==2.5.11
idna==3.4
incremental==22.10.0
inflection==0.5.1
itemadapter==0.7.0
itemloaders==1.0.6
jmespath==1.0.1
joblib==1.2.0
jsonfield2==4.0.0.post0
kiwisolver==1.4.4
lxml
matplotlib==3.6.2
more-itertools==9.0.0
multitasking==0.0.11
nodeenv==1.7.0
numpy==1.24.1
packaging==22.0
pandas==1.5.2
pandas-datareader==0.10.0
parsel==1.7.0
patsy==0.5.3
Pillow==9.3.0
platformdirs==2.5.2
Protego==0.2.1
psycopg2-binary==2.9.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyDispatcher==2.0.6
pyOpenSSL==22.1.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7
PyYAML==6.0
Quandl==3.7.0
queuelib==1.6.2
requests==2.28.1
requests-file==1.5.1
scikit-learn==1.2.0
scipy==1.9.3
Scrapy==2.7.1
scrapy-djangoitem==1.1.1
service-identity==21.1.0
six==1.16.0
sklearn
soupsieve==2.3.2.post1
sqlparse==0.4.3
statsmodels==0.13.5
threadpoolctl==3.1.0
tldextract==3.4.0
Twisted==22.10.0
typing-extensions==4.4.0
urllib3==1.26.13
virtualenv==20.16.3
w3lib==2.1.1
webencodings==0.5.1
yfinance==0.2.3
zope.interface==5.5.2
