{% block friend_table %}
<table class="table align-middle table-nowrap table-hover">
    <thead class="table-light">
        <tr>
            <th scope="col" colspan="4">Friends</th>
        </tr>
    </thead>

    <tbody>
        {% for friend in user.friends.all %}
            {% include 'partials/dashboard/components/dropdowns/friend_dropdown/friend_row.html' %}
        {% endfor %}
        {% for friend in user.friend_requests_sent.all %}
            {% include 'partials/dashboard/components/dropdowns/friend_dropdown/friend_row.html' %}
        {% endfor %}
        {% for friend in user.friend_requests_received.all %}
            {% include 'partials/dashboard/components/dropdowns/friend_dropdown/friend_row.html' %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
